<section id="{{ widget.id }}" class="widget hero-widget">
  <div class="container">
    <h1 class="hero-title">{{ layoutsPath }}</h1>

    <h1 class="hero-title">{{ widget.data.qqqqqqq }}</h1>
    <h1 class="hero-title">{{ settings.max }}</h1>
    <h1 class="hero-title">{{ widget.data.title }}</h1>

    <h1 class="hero-title">{{ widget.data.thirdtitle }}</h1>
    <h1 class="hero-title">{{ widget.data.fourthtitle }}</h1>

    <p class="hero-subtitle">{{ widget.data.subtitle }}</p>
    {% if widget.data.image %}
      <img class="hero-image" src="{{ widget.data.image }}" alt="Hero Image" />
    {% endif %}
    {% if widget.data.button_link %}
      <a class="hero-button" href="{{ widget.data.button_link }}">{{ widget.data.button_text }}</a>
    {% endif %}
  </div>
</section>