    <!-- Categories -->
    <section class="category-section">
      <div class="container">
        <div class="category-grid">
          <div class="category-item">
            <div class="category-icon">
              <img
                src={{'8867b406180189286ba748fab279f5e542e95eb3.png' | assets}}
                alt="مكبر صوت"
                style="width: 80px; height: 80px"
              />
            </div>
            <span class="category-label">مكبرات صوت</span>
          </div>
          
          <div class="category-item">
            <div class="category-icon">
              <img
                src={{'039f1b8434e0062433e1ef462f604efc06b2edeb.png' | assets}}
                alt="كاميرا مراقبة"
                style="width: 80px; height: 80px"
              />
            </div>
            <span class="category-label">كاميرا مراقبة</span>
          </div>
          <div class="category-item">
            <div class="category-icon">
              <img
                src={{'1bb0af78a068c8d9455fc6e5e322722e0691f053.png' | assets}}
                alt="سماعات لاسلكية"
                style="width: 80px; height: 80px"
              />
            </div>
            <span class="category-label">سماعات لاسلكية</span>
          </div>
          <div class="category-item">
            <div class="category-icon">
              <img
                src={{'mobile.png' | assets}}
                alt="موبايل"
                style="width: 80px; height: 80px"
              />
            </div>
            <span class="category-label">موبايل</span>
          </div>
          <div class="category-item">
            <div class="category-icon">
              <img
                src={{'tv.png' | assets}}
                alt="شاشات"
                style="width: 80px; height: 80px"
              />
            </div>
            <span class="category-label">شاشات</span>
          </div>
          <div class="category-item">
            <div class="category-icon">
              <img
                src={{'watch.png' | assets}}
                alt="ساعات"
                style="width: 80px; height: 80px"
              />
            </div>
            <span class="category-label">ساعات</span>
          </div>
        </div>
      </div>
    </section>