<section id="{{ widget.id }}">
  <a href="/product/{{ product.slug }}" class="block bg-white rounded-lg shadow-sm hover:shadow-md border border-gray-200 hover:border-gray-300 overflow-hidden transition-all duration-300 group">
    <div class="max-h-[160px] relative">
      <img src="https://picsum.photos/160" alt="product" class="w-full h-full object-cover">
    </div>
    <div class="p-4">
      <div class="flex flex-col gap-3">
        <h3 class="font-semibold text-gray-900 text-sm leading-tight font-cairo min-h-[2.5rem] flex items-center justify-center text-center">
          {{ widget.title }}
        </h3>
        
        <div class="flex items-center justify-center gap-2">
          <div class="flex items-center gap-1">
            <i class="fi flex items-center text-[10px] fi-rr-star text-yellow-400"></i>
            <i class="fi flex items-center text-[10px] fi-rr-star text-yellow-400"></i>
            <i class="fi flex items-center text-[10px] fi-rr-star text-yellow-400"></i>
            <i class="fi flex items-center text-[10px] fi-rr-star text-yellow-400"></i>
          </div>
          <span class="text-gray-600 text-xs">3.00</span>
        </div>
        
        <div class="flex items-center justify-center gap-2">
          <p class="text-gray-900 font-bold">200 ج.م</p>
          <p class="text-gray-500 line-through text-sm">200 ج.م</p>
        </div>
      </div>
    </div>
  </a>
</section>