    <!-- FAQ Section -->
    <section class="faq-section">
      <div class="container">
        <h2 class="section-title">الأسئلة الشائعة عن هذا المنتج</h2>

        <div class="faq-container">
          <!-- FAQ Item 1 -->
          <div class="faq-item active">
            <button class="faq-button">
              <span class="faq-question"
                >هل هذا الكريم مناسب للبشرة الحساسة؟</span
              >
              <i class="fas fa-minus faq-icon"></i>
            </button>
            <div class="faq-content">
              نعم، تم اختبار هذا المنتج من قبل أطباء الجلدية وهو آمن تماماً
            </div>
          </div>
          <!-- FAQ Item 2 -->
          <div class="faq-item">
            <button class="faq-button">
              <span class="faq-question">كم مرة يستخدم المنتج في اليوم؟</span>
              <i class="fas fa-plus faq-icon"></i>
            </button>
            <div class="faq-content" style="display: none"></div>
          </div>

          <!-- FAQ Item 3 -->
          <div class="faq-item">
            <button class="faq-button">
              <span class="faq-question"
                >هل يمكن إرجاع المنتج في حال لم يناسبني؟</span
              >
              <i class="fas fa-plus faq-icon"></i>
            </button>
            <div class="faq-content" style="display: none"></div>
          </div>
        </div>
      </div>
    </section>