<section id="{{ widget.id }}" class="widget features-widget">
  <div class="container">
    {% if widget.data.title %}
      <h2 class="features-title">{{ widget.data.title }}</h2>
    {% endif %}
    <div class="features-list">
      {% for feature in widget.data.features %}
        <div class="feature-item">
          <div class="feature-icon">{{ feature.icon }}</div>
          <div class="feature-text">
            <h3 class="feature-title">{{ feature.title  }}</h3>
            <p class="feature-description">{{ feature.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>