<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <p class="footer-text">
        {{  footer.data.copyright or "© 2025 Qumra. جميع الحقوق محفوظة." }}
      </p>
    </div>
  </div>
</footer>