<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ context.page.title | default("Store") }}</title>
    {% seo %}
    {% qumra_head %}

    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Google Fonts - Zain -->
    <link
      href="https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap"
      rel="stylesheet"
/>

    <link rel="stylesheet" href="{{ 'style.css' | assets }}"/>

    <!-- Tailwind Config -->
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: "#E56700",
              secondary: "#1E1E1E",
              neutral: {
                100: "#EFEFEF",
                200: "#E0E0E0",
                300: "#868584",
                400: "#0D0D0D"
              }
            },
            fontFamily: {
              zain: ["Zain", "sans-serif"]
            },
            screens: {
              xs: "475px",
              sm: "640px",
              md: "768px",
              lg: "1024px",
              xl: "1280px",
              "2xl": "1536px"
            }
          }
        }
      };
    </script>
    <!-- Iconify for Flat Icons -->
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
    <!-- Flaticon UIcons Regular Rounded -->
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
/>


  </head>
  <body >
    <div id="app">
      {% header %}

      <main>
        {% content %}
      </main>

      {% footer %}
    </div>
    {% qumra_scripts %}
    <script src="{{ 'main.js' | assets }}"></script>
    <script src="{{ 'alpin.js' | assets }}"></script>
  </body>
</html>