<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% seo %}
    {% qumra_head %}
    <style>
      root {
        --mainColor: {{settings.mainColor}}
        --swiper-navigation-size: 25px;
      }
    </style>
    <link rel="stylesheet" href="{{ 'style.css' | assets }}"/>
  </head>
  <body >
    {% template "header" %}
    <main>{% content %}</main>
    {% template "footer" %}
    {% qumra_scripts %}
    <script src="{{ 'main.js' | assets }}"></script>
  </body>
</html>