{# pages/home.njk #}
{% extends "layouts/layout.njk" %}

{% block content %}
    <h1>dfdftest</h1>

    {{ ["ahmed", "noor", "mona"] | first }}
    {{ "ahmed|noor|mona" | split("|") }}
    {{ "2025-07-08" | date("ar-EG") }}
    
    {{ { name: "qumra", active: true } | json }}
    <script>
        const ttt = {{ { name: "qumra", active: true } | json }}
    </script>
    {{ "red" | color_to_hex }}

{# 
    {% form 'search' %}
        <input name="q" placeholder="ابحث هنا">
        <button type="submit">بحث</button>
    {% endform %} #}

{% endblock %}