<section id="{{ widget.id }}" class="widget newsletter-widget">
  <div class="container">
    <h2 class="newsletter-title">{{ widget.data.heading }}</h2>
    <form class="newsletter-form">
      <input type="email" placeholder="{{ widget.data.placeholder }}" class="newsletter-input" />
      <button type="submit" class="newsletter-button">{{ widget.data.button_text }}</button>
    </form>
  </div>
</section>